@model UserModel;
<script src="js/login.js" asp-append-version="true"></script>

<div class="w-100 min-vh-100 d-flex align-items-center justify-content-center">
    <form>
        <div class="bg-white shadow rounded-2 d-flex justify-content-center align-items-center flex-column p-4">

            <!-- Title -->
            <div>
                <h1>Login</h1>
            </div>

            <!-- User name input -->
            <div>
                <div class="form-outline mb-2">
                    <label class="form-label" for="name-input" asp-for="UserName">User name</label>
                    <input type="text" id="name-input" class="form-control"/>
                </div>
            </div>

            <!-- password input -->
            <div>
                <div class="form-outline mb-2">
                    <label class="form-label" for="password-input" asp-for="Password">Password</label>
                    <input type="password" id="password-input" class="form-control"/>
                </div>
            </div>
            
            <!-- buttons -->
            <div class="w-100 align-items-center">
                <a class="btn btn-primary w-75" onclick="pressedLoginButton()">Login</a>
                <a class="btn btn-secondary w-75">Register</a>
            </div>
        </div>
    </form>

</div>

